/* Спецификация */

body {
    font-family: 'PT Sans' , sans-serif; 
    padding: 0; 
    margin: 0;
}

ul, li {
    display: block;
    padding: 0; 
    margin: 0;   
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000;
}

h3 {
    font-weight: 400
}

h2 {
    text-align: center;
}


/* Первый экран */

.header {
    background: #fcdb00;
    color: #010101;
    padding: 44px;
}

ul, li {
    display: block;
    padding: 0; 
    margin: 0;   
}

.menu {
    margin-top: 10px;
}

.menu__item {
    margin: 0 38px;
}

.menu__item a {
    font-weight: bold;
    color: #000;
    font-size: 22px;
    text-decoration: none;
}

.menu__item a:hover{
    color: darkblue;
    transition-duration: 0.5s;
}

.phone {
    margin-top: 50px;
    width: 258px;
    height: 493px;
}

.offer__title {
    font-size: 32px; 
}

.offer__intro {
    font-size: 20px; 
    margin-top: 15px;
    margin-bottom: 15px;
}

.offer__text {
    font-size: 16px; 
    width: 490px;
}

.offer {
    margin-top: 117px;
}

.btn {
    margin-top: 25px;
    padding: 8px 53px; 
    font-weight: bold;
    font-size: 22px; 
    text-decoration: none;
    cursor: pointer;
    
}

.btn_1 {
    background-color: #000; 
    color: white; 
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn_1:hover{
    background-color: rgb(12,26,220);
    color: white;
}

.btn_1:active {
    background-color: rgb(12,26,220);
    color: white;
}

/* Второй экран */

.title {
    padding-bottom: 70px;
}

.title__main {
    font-size: 32px;
    margin-top: 60px;
}

.title__text {
    font-size: 20px;
    margin-top: 20px;
    width: 760px;
    text-align: center;
    margin: 0 auto;
}


.feature__text {
    width: 288px;
}

.feature__text1 {
    width: 288px;
}

.feature__text2 {
    width: 288px;
}

.feature__text3 {
    width: 288px;
}

.feature__text4 {
    width: 288px;
}

.feature__text5 {
    width: 288px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature__icon1 {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature__icon2 {
    font-size: 50px;
    margin-right: 30px;
    color: #000;
}

.feature__icon3 {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature__icon4 {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature__icon5 {
    font-size: 50px;
    margin-right: 37px;
    color: #000;
}

.feature {
    margin-bottom: 76px;
}

.touch {
    background: #010101;
    
}

.title1 {
    padding-bottom: 40px;
}

.title__main1 {
    font-size: 32px;
    margin-top: 60px;
    color: #fcdb00;
    
}

.title__text1 {
    font-size: 20px;
    margin-top: 30px;
    width: 760px;
    text-align: center;
    margin: 0 auto;
    color: #898989;
}

.form {
    margin-bottom: 40px;
    text-align: center;
}

.frm {
    margin: 0 auto;
}

.form__input {
    font-family: 'PT Sans' , sans-serif; 
    background: #fff;
    font-size: 16px;
    border-radius: 5px;
    width: 580px;
    padding: 15px 23px;
    border: 0
    outline: none;    
}

.form__btn {
    font-family: 'PT Sans' , sans-serif; 
    background: #fcdb00;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 15px 0;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
}

.footer {
    background: #010101;
}

.credits {
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin: 0 auto;
    width: 194px;
    margin-bottom: 40px;
}

/* Форма модального окна */

#swal-input,
#swal-input1,
#swal-textarea{
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 50px;
    padding-left: 10px;
    
}

#swal-input,
#swal-input1{
    margin-bottom: 13px;
}

#swal-textarea{
    height: 120px;
    padding-top: 11px;
}

.swal-title{
    font-size: 40px;
    font-weight: 500;
    color: #363638;
}

.swal-par{
    margin-top: 5px;
}

.btn_{
    color: #3085d6;
    margin-top: 25px;
    padding: 8px 53px; 
    font-size: 21px; 
    text-decoration: none;
    cursor: pointer;
}

.swal-title1{
    font-size: 40px;
    font-weight: 500;
    color: #363638;
}
/* Медиа запросы */

@media screen and (max-width: 992px){
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .offer {
        text-align: center;
    }
    
    .offer__text {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    
    .btn, .btn_1 {
        margin: 0 auto;
        margin-bottom: 120px;
    }
    
    .phone {
        display: block;
        margin: 0 auto;
    }
    
    .form__input {
        margin-right: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .offer__text {
        width: auto;
    }
    
    .title__text,
    .title__text1 {
        width: auto;
    }
    
    .menu {
        width: auto;
    }
    
    .feature {
        justify-content: center;
    }
}

@media screen and (max-width: 450px){
    .menu__item {
    margin: 0 15px;
    }
    
    .data-toggle {
        visibility: hidden;
    }
}






/* Шрифты */

@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PT Sans/PTSans-Bold.eot');
	src: local('PT Sans Bold'), local('PTSans-Bold'),
		url('PTSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PT Sans/PTSans-Bold.woff') format('woff'),
		url('../fonts/PT Sans/PTSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}



@font-face {
	font-family: 'PT Sans';
	src: url('../fonts/PT Sans/PTSans-Regular.eot');
	src: local('PT Sans'), local('PTSans-Regular'),
		url('PTSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PT Sans/PTSans-Regular.woff') format('woff'),
		url('../fonts/PT Sans/PTSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



